@import "tailwindcss";

@variant dark (&:where(.dark, .dark *));

:root {
  /* خلفيات وفورجراوند */
  --background: #f8fafc;
  /* slate-50 */
  --foreground: #0f172a;
  /* slate-900 */

  /* ألوان النصوص الديناميكية */
  --text-main: #0f172a;
  /* العناوين الرئيسية */
  --text-muted: #64748b;
  /* النصوص الجانبية والوصف (slate-500) */

  /* ألوان الكروت والحدود */
  --card-bg: #ffffff;
  --card-hover-bg: #f8fafc;
  --card-border: #e2e8f0;

  /* لون الهوية (البراند الرئيسي) - تقدر تخليه أزرق، أخضر، أو زي ما تحب بره */
  --brand-color: #0d9488;
  /* teal-600 */
  --brand-hover: #0f766e;
  /* teal-700 */
  --brand-light: #f0fdfa;
  /* teal-50 */
}

.dark {
  --background: #0f172a;
  /* slate-900 */
  --foreground: #f8fafc;
  /* slate-50 */

  --text-main: #f8fafc;
  --text-muted: #94a3b8;
  /* slate-400 */

  --card-bg: #1e293b;
  /* slate-800 */
  --card-hover-bg: #1e293b/90;
  --card-border: #334155;

  --brand-color: #2dd4bf;
  /* teal-400 */
  --brand-hover: #14b8a6;
  /* teal-500 */
  --brand-light: #115e59/30;
  /* teal-900 شفاف */
}

body {
  background-color: var(--background) !important;
  color: var(--foreground) !important;
  font-family: var(--font-cairo);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transition: none !important;
}

*,
*::before,
*::after {
  transition: none !important;
  animation-duration: 0s !important;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --color-text-main: var(--text-main);
  --color-text-muted: var(--text-muted);

  --color-card-bg: var(--card-bg);
  --color-card-hover: var(--card-hover-bg);
  --color-card-border: var(--card-border);

  --color-brand: var(--brand-color);
  --color-brand-hover: var(--brand-hover);
  --color-brand-light: var(--brand-light);

  --font-cairo: var(--font-cairo), sans-serif;
}

*,
*::before,
*::after {
  transition-property: background-color, border-color;
  transition-duration: 100ms;
  transition-timing-function: ease;
}

*,
*::before,
*::after {
  transition-property: background-color, border-color;
  transition-duration: 300ms;
  /* سريع جداً 0.1 ثانية فلا تلاحظ الفروقات */
  transition-timing-function: ease;
}